# Git
.git
.gitignore

# Backend
backend/build/
backend/.gradle/
backend/out/

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.iml

# Logs
logs/
*.log

# Other
generated-images/
